*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

.center{
text-align: center;
margin-bottom: 25px;
}

.third{
    background-color: blueviolet;
    margin-bottom: 25px;
    padding: auto;

}

#background-color{
    background-color: aqua;
}

#image-css{
    width:500px;
    height:250px;
    margin-left: 350px;
    
   
}

.center-tt{
    background-color: yellow;
}
.center-tt h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

.center-tt p{
    color: blue;
    font-size: x-large;
    margin-bottom: 25px;
}

